* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    background-color: rgb(202, 177, 226);
    padding: 5rem;
    font-size: 3rem;
    font-weight: bolder;
}
.sidebar {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.main-content {
    font-size: 1.5rem;
}

.about {
    padding: 1rem;
    background-color: rgb(221, 129, 129);
    text-align: center;
    border: 1px solid white;
    border-left: none;
    transition: 0.2s;
    text-decoration: none;
}

.about:hover {
    translate: 1rem;
}

.menu {
    padding: 1rem;
    background-color: rgb(131, 131, 216);
    text-align: center;
    border: 1px solid white;
    border-left: none;
    transition: 0.2s;
    text-decoration: none;
}

.menu:hover {
    translate: 1rem;
}

.contact {
    padding: 1rem;
    background-color: rgb(228, 228, 153);
    text-align: center;
    border: 1px solid white;
    border-left: none;
    transition: 0.2s;
    text-decoration: none;
}

.contact:hover {
    translate: 1rem;
}


.menu-content-ol {
    padding: 1rem 0 1rem 1rem;
}

.menu-content-ol li::marker {
    color: hs1(340 50% 50%);
    font-weight: 900;
    font-size: 0.8em;
}

.menu-content-ol li::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

.image-fish {
    margin: 0 auto;
    text-align: center;
    padding: 5rem 5rem 5rem 10rem;
}

.footer {
    text-align: center;
    background-color: rgb(202, 177, 226);
    padding: 5rem 0 5rem 10rem;
    font-size: 1.5rem;
    font-style: italic;
}
